{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "importOrder": [
        "^@",
        "^[a-zA-Z]",
        "^[./]"
    ],
    "importOrderGroupNamespaceSpecifiers": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "printWidth": 120,
    "singleQuote": true,
    "tabWidth": 2,
    "plugins": [
        "@shufo/prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade",
                "sortTailwindcssClasses": true,
                "wrapAttributes": "force-expand-multiline"
            }
        },
        {
            "files": [
                "*.css"
            ],
            "options": {
                "order": "alphabetical"
            }
        }
    ]
}
